@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); /* Imported a google font for title */




/*/// Global Effects ///*/

  * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: monospace;
  }

body, html {
    height: 100%;
    min-height: 100%;
}

/* BACKGROUND */


#backgroundimage {
  content: "";
  background-image: url(../images/303background.jpg);
  height: 100%;
  position: fixed;
  top: 0px;               /* <---- I used an image of a TB-303 as a background wallpaper behind the content*/
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  background-color: white;
  z-index: -1;
}

.clearfix {
    content: "";
    clear: both;
}

/* HEADER STYLING */

.logos {
    display: block;
    margin-top: 2em;
    margin: 0 auto;
    width: 800px;
    max-width: 800px;
}

#toplogo {
    position: relative;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 25px;
}

.navbar {
    width: 800px;
    background-color: rgb(172, 172, 172);
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
    float: left;
    padding: 12px;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    width: 33.33%;
    border: 1px solid black;
    margin: 0;
}

.navbar a:hover {
    background-color: rgb(144, 248, 103);
    color: black;
}

.navbar a:active {
    background-color: #04aa6d;
    color: white;
}

/* MAIN SECTION ELEMENTS */

/* Title */

h1 {
  font-family: "Press Start 2P";
  text-align: center;
  text-shadow: -4px 4px 8px #424242;
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 2px solid black;
}

/* Body Styling */

  #backgroundcolumn {
      display: block;
      width: 800px;
      height: 100%;
      margin-left: auto;
      margin-right: auto;                         /* <-- This implements the grey column for the background*/
      background-color: grey;
      padding-bottom: 100px;
      border: 1px solid black;
      box-shadow: -5px 5px rgba(25, 25, 25, 0.6);
      z-index: -1;
  }

  .paragraphs {
    position: relative;
    top: 40%;
    background:none;
  }

  #para1 {
    font-size: 20px;
    width: 80%;
    height: 30%;
    margin: auto;
    padding-right: 0%;
    clear: both;
  }

  #para1 p {
    width: 100%;
    text-align: center;
    text-justify: inter-word;
  }

  figure {
    display: inline-block;
    margin-left: 25%;
    width: 50%;
    height: auto;
  }

  input[type=checkbox] {
    display: none;
  }
                                                    /* <--the styling between 'figure' and 'figure figcaption' implements a click-to-zoom feature on the image  */
  figure img {                                      /*    this is implemented by giving the figure element an input type of checkbox, and changing what happens */
    vertical-align: top;                            /*    to the image when the box is 'checked' vs 'unchecked'                                                 */
    width: 100%;
    height: auto;
    transition: transform 0.25s ease;
    cursor: zoom-in;
    box-shadow:-5px 5px rgba(25, 25, 25, 0.4)
  }

  input[type=checkbox]:checked ~ label > img {
    transform: scale(1.9);
    cursor: zoom-out;
  }

  figure figcaption {
    font-size: 11pt;
    text-align: center;
    margin-top: 2%;
  }

  .bodytext {
    overflow: auto;
    background-color:rgba(75, 75, 75, 0.2);
    width: 100%;
    height: 150%;
  }

  .paras {
    font-size: 1.2em;
    float: top;
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 20px;
    border: 1px solid black;
  }

  #para2 {
    border-bottom: 3px dotted black;
  }

  #howtouse {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #howtouse h2 {
    font-size: 1.5em;
    font-family: "Press Start 2P";
    text-shadow: -2px 2px 4px #424242;
    border-bottom: 3px dotted black;
    text-align: center;
    padding-bottom: 15px;
  }

  .toplink {
    position: relative;
    right: 2em;
    float: right;          /* <-- implements a jump-to-top link on the right side of the content */
    text-align: right;
    font-size: 1em;
    color: black;
  }

  .toplink:hover {
    color: greenyellow;
  }

  #howtodiv {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 3px dotted black;
  }

  #howtovideo {
    display: block;
    margin: auto;
  }

  #audiosamples {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #audiosamples h2 {
    font-size: 1.5em;
    font-family: "Press Start 2P";
    padding-bottom: 20px;
    border-bottom: 3px dotted black;
    text-shadow: -2px 2px 4px #424242;
    text-align: center;
  }

  .audiodivs {
    display: block;
    margin: auto;
    width: 100%;
    border: 1px solid black;
    padding-bottom: 15px;
  }

  .audiodivs audio {
    padding: 10px;
    padding-top: 15px;
    margin-top: 20px;
    position: relative;
    left: 30%;
  }

  .audiodivs p {
    width: 100%;
    font-size: 11pt;
    text-align: center;
  }

  /* Footer Styling */

  .bottomtext {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgb(172, 172, 172);
    box-shadow: -5px 5px rgba(25, 25, 25, 0.6);
    overflow: auto;

}

.bottomtext p {
    float: left;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    width: 100%;
    border: 1px solid black;
    margin: 0;
}



